*.txt
git init --> Initializes a new Git repository. If you want to place a project under revision control, this is the first command you need to learn.
git add --> Moves changes from the working directory to the staging area. This gives you the opportunity to prepare a snapshot before committing it to the official history.
git commit --> Takes the staged snapshot and commits it to the project history. Combined with git add, this defines the basic workflow for all Git users.
git status -->
git push
git pull
git clone
git checkout
git rm
